/*   color variables */
$clr-primary: #E7C576;
$clr-secondary: #C56116;
$clr-positive: #A8FFA6;
$clr-positive-text: #41C22C;
$clr-negative: #FFA6A6;
$clr-negative-text: #C22C2C;
$clr-dark: #1F1B38;
$clr-light: #F5F3FF;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cta {
    background-color: $clr-light;
    border-radius: 16px;
    color: black;
    display: flex;
    display: none;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    padding: 50px 60px;
    row-gap: 20px;
    width: 100%;

    &.displayBlock {
        display: block;
    }

    &_first_block {
        &_title {
            font-size: 32px;
            font-weight: 200;
            text-align: center;

        }
    }

    &_second_block {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        row-gap: 50px;

        &_content {

            text-align: center;

        }

        &_button {
            border: none;
            border-radius: 16px;
            cursor: pointer;
            display: flex;
            font-size: 22px;
            margin: 0 auto;
            padding: 15px 25px;

        }
    }

}

.modale {
    background-color: $clr-light;
    border-radius: 15px;
    display: none;
    height: auto;
    margin: 0 auto;
    padding: 50px 60px;
    width: 100%;

    .close {
        border: none;
        cursor: pointer;
        float: right;

    }

    &.displayBlock {
        display: block;
    }

    &_first_block {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        row-gap: 25px;

        &_title {
            text-align: center;

        }

        &_sous_title {
            text-align: center;
        }

    }

    &_seconde_block {
        display: flex;
        flex-direction: column;
        margin: 20px 150px;
        row-gap: 25px;

        input {
            border-radius: 15px;
            font-size: 15px;
            padding: 15px 20px;
        }

        label {
            font-size: 18px;
        }

        .form_input_submit {
            border: none;
            border-radius: 16px;
            cursor: pointer;
            display: flex;
            font-size: 22px;
            margin: 0 auto;
            padding: 15px 25px;
        }


    }
}


@media screen and (max-width: 693px) {
    .cta {
        background-color: $clr-light;
        border-radius: 16px;
        color: black;
        display: flex;
        display: none;
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        padding: 40px 40px;
        row-gap: 20px;
        width: 100%;

        &.displayBlock {
            display: block;
        }

        &_first_block {
            &_title {
                font-size: 24px;
                font-weight: 200;
                text-align: center;

            }
        }

        &_second_block {
            display: flex;
            flex-direction: column;
            margin-top: 25px;
            row-gap: 50px;

            &_content {

                text-align: center;

            }

            &_button {
                border: none;
                border-radius: 16px;
                cursor: pointer;
                display: flex;
                font-size: 22px;
                margin: 0 auto;
                padding: 15px 25px;

            }
        }

    }

    .modale {
        .close {

        }

        &_first_block {
            &_title {
                font-size: 24px;

            }

            &_sous_title {
                font-size: 16px;
            }

        }

    }
}