.bannerContainer {
  display: flex;
  position: sticky;
  width: 100%;
  min-height: 50px;
  color: #F5F3FF;
  background-color: #1F1B38;
  border-radius: 10px;
  font-family: "Convergence", sans-serif;

}

.bannerText {
  margin: auto 0 auto 5px;
}

.bannerTextCentered {
  margin-left: auto;
}

.bannerIcon {
  color: #1F1B38;
  margin: 5px 5px 5px 25px;
  min-width: 40px;
  display: flex;
  align-items: center;
}

.bannerIcon svg {
  background-color: #F5F3FF;
  border-radius: 5px;
}

.bannerIconHidden {
  display:none;
}

.bannerButton {
  min-width: 15%;
  font-weight: 700;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  border-radius : 5px;
  padding: 8px;
}

.bannerButton:hover {
  cursor: pointer;
  background-color: #C56116;
  color: #F5F3FF;
  transition-duration: 0.3s;
}

.bannerButtonCentered {
  min-width: 15%;
  font-weight: 700;
  margin: auto auto auto 15px;
  border: none;
  border-radius : 5px;
  padding: 8px;
}

.bannerButtonCentered:hover {
  cursor: pointer;
  background-color: #C56116;
  color: #F5F3FF;
  transition-duration: 0.3s;
}

.crossIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F3FF;
  margin: 5px 15px 5px 5px;
  min-width: 20px;
}

.crossIcon:hover {
  cursor: pointer;
  color: #C56116;
  transition-duration: 0.3s;
}